.titulo{
    height: 10vh;
    background-color: rgb(177, 10, 177);
    color: azure;
    text-align: center;
    padding: 15px;
}

.negro{
    background-color: rgb(108, 104, 104);
    text-align: center;;
}

.footer{
    height: 10vh;
    background-color: rgb(117, 5, 117);
    color: azure;
    text-align: center;
    padding: 30px;
}