<main class="negro container">
    <form>
        <div class="row">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
            </div>
            <div class="col">
                 <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                 <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
            </div>
        </div><br>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Direccion E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="mail@casilla.com">
        </div><br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Dejanos tu comentario</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escriba aqui"></textarea><br>
            <button type="button" class="btn btn-secondary">Enviar</button>
        </div>
    </form>
</main>
